<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <movie>
            <general>
                <textfield>I’m a text field</textfield>
                <yesnofield>1</yesnofield>
                <dropdown_movie>1</dropdown_movie>
            </general>
        </movie>
    </default>
</config>
