<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * menu
 *
 * @copyright Copyright © 2020 Magetop. All rights reserved.
 * @author    info@magetop.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_Movie::menu" title="Magenest Movie" module="Magenest_Movie" sortOrder="20" resource="Magenest_Movie::menu" />
        <add id="Magenest_Movie::posts_menu" title="Magenest Movie" module="Magenest_Movie" sortOrder="1" parent="Magenest_Movie::menu" action="magenestbackend/movie/post" resource="Magenest_Movie::posts_menu" />
    </menu>
</config>
