<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_Movie::menu"
             title="Magenest Movie" module="Magenest_Movie"
             sortOrder="10"
             resource="Magento_Backend::content"
        />
        <add id="Magenest_Movie::menu_item"
             title="Moive" module="Magenest_Movie"
             sortOrder="10" parent="Magenest_Movie::menu"
             action="magenestbackend/create/index"
             resource="Magenest_Movie::menu_item"
        />
    </menu>
</config>
